.blocklist-ext-hidden {
	display: none;
}

.blocklist-ext-user-icon {
	font-size: 23px;
	cursor: pointer;
	margin-left: 5px;
}

.blocklist-ext-hidden-quote {
	padding: 0 !important;
	border-color: rgba(52, 54, 48, 0.3) !important;
	background-color: inherit !important;
	box-shadow: none !important;
}

.blocklist-ext-font-weight-300 {
	font-weight: 300 !important;
}
