.blocklist-ext-hidden {
	display: none;
}

.blocklist-ext-user-icon {
	font-size: 23px;
	cursor: pointer;
	margin-left: 5px;
}

.blocklist-ext-hidden-quote {
	padding: 0 !important;
	border-color: rgba(52, 54, 48, 0.3) !important;
	background-color: inherit !important;
	box-shadow: none !important;
}

.blocklist-ext-font-weight-300 {
	font-weight: 300 !important;
}

icon-settings {
	position: absolute;
	right: 4rem;
	top: 0.33rem;
	cursor: pointer;

	&:hover {
		scale: 1.1;
	}
}

[data-hide-challenges]::before {
	background-image: none !important;
	width: 0 !important;
	margin: 0 !important;
}
